
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit ShowTime</title>
    <meta charset="UTF-8">
       <!-- Link to myrna.css -->
        <link href="static/myrna.css" th:href="@{/myrna.css}"
            rel="stylesheet" media="screen" />
        <!-- End of myrna.css link -->
</head>

<form th:object="${scheduleEditForm}" th:action="@{/schedule/submitedit}" method="post">
    <input type="hidden" th:field="*{scheduleId}" />
    
    <!-- Select Date -->
 <div class="form-group">
                  <div class="form-group">
    <label for="date">Select Date</label>
    <input type="date" id="date" th:field="*{date}" class="form-control"  required  title="Please enter a date" />
</div>

 <div class="form-group">
                  <div class="form-group">
    <label for="time">Select Time</label>
    <input type="time" id="time" th:field="*{time}" class="form-control"  required  title="Please enter a time" />
</div>


    <input type="submit" class="btn btn-success" value="Submit Changes" />
</form>
